{{ define "main" }}
<section style="background-image: url({{"images/bg.png"|absURL}});" class="bg-center bg-cover bg-no-repeat px-4">
  <div class="w-full mx-auto md:w-10/12 py-16">
    <div class="w-full text-center lg:w-1/2 lg:ml-auto">
      <h1 class="font-black text-3xl uppercase text-indigo-dye leading-tight lg:text-5xl xl:text-6xl">
        El <span class="text-tart-orange">Estatuto de la oposición</span> en Colombia
      </h1>
      <div class="text-oxford-blue font-roboto space-y-4 mt-8 lg:text-lg">
        <p>Es un instrumento normativo que garantiza la participación democrática de la oposición al gobierno de turno en los diferentes niveles territoriales.</p>
        <p>El estatuto determina los recursos, las rutas de acción, las garantías y los medios que les posibilitan desempeñar una función crítica y alternativa a las acciones de la rama ejecutiva en el poder.
        </p>
      </div>
    </div>
  </div>
</section>
<!---->
<section class="bg-white px-4 py-12" id="estatuto">
  <div class="w-full mx-auto flex flex-col md:w-10/12 md:flex-row md:items-center md:space-x-8">
    <div class="w-full md:w-1/2 lg:w-2/3">
      <div class="max-w-md">
        <h3 class="text-3xl text-indigo-dye uppercase font-black lg:text-4xl">El Estatuto</h3>
        <p class="text-oxford-blue mt-6 font-roboto text-sm lg:text-base">Con la expedición del Estatuto de Oposición (Ley 1909 de 2018), todos los partidos y movimientos políticos están en la obligación de realizar su declaración política frente a los gobiernos nacional, departamental, distrital y municipal en ejercicio. En ella, deben decidir si quieren hacer parte del gobierno, ser independientes o de oposición.</p>
        <a href="https://dapre.presidencia.gov.co/normativa/normativa/LEY%201909%20DEL%209%20DE%20JULIO%20DE%202018.pdf" target="_blank" class="inline-block mt-6 uppercase bg-tart-orange text-white rounded font-bold text-lg px-3 py-2 lg:text-xl">Conoce más aquí</a>
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3">
      <img src="{{"images/graphic-1.png"|absURL}}" alt="">
    </div>
  </div>
</section>
<!---->
<section class="bg-cultured px-4 py-12" id="proyecto">
  <div class="w-full mx-auto flex flex-col-reverse md:w-10/12 md:flex-row md:items-center md:space-x-8">
    <div class="w-full md:w-1/2 lg:w-2/3">
      <img src="{{"images/graphic-2.png"|absURL}}" alt="">
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3">
      <h3 class="text-3xl text-indigo-dye uppercase font-black lg:text-4xl">El proyecto</h3>
      <p class="text-oxford-blue mt-6 font-roboto text-sm lg:text-base">Este proyecto da a conocer las declaraciones de gobierno, oposición e independencia de los partidos y movimientos políticos de Colombia en los niveles municipal, departamental y nacional, con el objetivo de evaluar el estado del estatuto en el territorio colombiano. Estos datos se pueden visualizar de forma geográfica, como rankings o como redes, dependiendo de lo que quiera indagar el usuario.</p>
      <a href="" class="inline-block mt-6 uppercase bg-tart-orange text-white rounded font-bold text-lg px-3 py-2 lg:text-xl">Explora los datos</a>
    </div>
  </div>
</section>
<!---->
<section class="py-12 bg-white" id="visualiza">
  <h3 class="text-3xl text-indigo-dye uppercase font-black lg:text-4xl text-center">GeoPosición</h3>
  <p class="text-xl text-indigo-dye uppercase font-medium lg:text-2xl text-center">Geografía de la política colombiana</p>
  <details class="text-center mt-2">
    <summary class="uppercase bg-tart-orange text-white rounded font-bold text-sm px-3 py-2 inline-block">
      Cómo se usa
    </summary>
    <div class="text-left max-w-md mx-auto font-roboto text-oxford-blue mt-10 space-y-4">
      <p class="leading-tight mb-10">La herramienta de exploración de datos está basada en dos tipos de fuentes de información: las declaratorias de oposición, gobierno e independencia que ha realizado cada partido político en cada nivel territorial, y las coaliciones en los diferentes niveles que han realizado los partidos políticos y las respectivas declaratorias a estas coaliciones. Conoce más.</p>
      <div class="space-y-4">
        <p class="mt-4 font-barlow text-base text-tart-orange uppercase font-black tracking-wide">Declaratorias de partidos políticos</p>
        <img src="{{"images/step-1.gif"|absURL}}" alt="">
      </div>
      <div class="space-y-4">
        <p class="mt-4 font-barlow text-base text-tart-orange uppercase font-black tracking-wide">Partidos con más declaratorias</p>
        <img src="{{"images/step-2.gif"|absURL}}" alt="">
      </div>
      <div class="space-y-4">
        <p class="mt-4 font-barlow text-base text-tart-orange uppercase font-black tracking-wide">Coaliciones y partidos políticos</p>
        <img src="{{"images/step-3.gif"|absURL}}" alt="">
      </div>
    </div>
  </details>
  <div class="mt-4" style="height: 200vh">
    <iframe class="w-full h-full" src="https://datasketch.shinyapps.io/oposicion-politica-app/" frameborder="0"></iframe>
  </div>
</section>
<!---->
<section class="bg-cultured px-4 py-12" id="descarga">
  <div class="w-full mx-auto flex flex-col-reverse md:w-10/12 md:flex-row md:items-center md:space-x-8">
    <div class="w-full md:w-1/2 lg:w-2/3">
      <img src="{{"images/graphic-3.png"|absURL}}" alt="">
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3">
      <h3 class="text-3xl text-indigo-dye uppercase font-black lg:text-4xl">Descarga</h3>
      <p class="text-oxford-blue mt-6 font-roboto text-sm lg:text-base">Los datos que fueron utilizados en el visualizador están disponibles para que la ciudadanía los descargue, pueda verificar la información y pueda realizar sus propias visualizaciones o responder sus propias preguntas.</p>
      <a href="https://www.datasketch.co/cne/datos-de-declaraciones-2021-02" target="_blank" class="inline-block mt-6 uppercase bg-tart-orange text-white rounded font-bold text-lg px-3 py-2 lg:text-xl">Descarga los datos</a>
    </div>
  </div>
</section>
<!---->
<section class="py-12 px-4 bg-white" id="profundiza">
  <div class="text-center">
    <h3 class="text-3xl text-indigo-dye uppercase font-black lg:text-4xl">Profundiza</h3>
    <div class="w-full mx-auto lg:w-11/12">
      <div class="swiper-container mt-12">
        <div class="swiper-wrapper pb-8">
          <div class="swiper-slide">
            <div class="w-full relative h-0" style="padding-bottom: 56.25%">
              <iframe class="w-full absolute top-0 left-0 h-full" src="https://www.youtube.com/embed/_cyCOr6aGLI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="w-full relative h-0" style="padding-bottom: 56.25%">
              <iframe class="w-full absolute top-0 left-0 h-full" src="https://www.youtube.com/embed/V_kIbmhieLM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="w-full relative h-0" style="padding-bottom: 56.25%">
              <iframe class="w-full absolute top-0 left-0 h-full" src="https://www.youtube.com/embed/hN2QbKZvAvw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <p class="underline font-roboto text-oxford-blue mt-4"><a href="https://www.youtube.com/channel/UC5SN2eL-saQcL4gzAB-eHUQ" target="_blank" rel="noopener noreferrer">Conoce más contenido</a></p>
  </div>
</section>
{{ end }}
